// app global css in SCSS form
.q-field__bottom {
  text-align: right;
  padding-right: 0px;
  padding-top: 3px;
}

.q-field--error.q-field--dense {
  transition: margin-bottom 0.1s linear;
    margin-bottom: 12px;
}

.box-loading {
//   background-color: var(--colors-black-transparent-3);
  font-weight: bold;
  color: var(--colors-yellow-3) !important;
  .q-loading__backdrop {
    background-color: var(--colors-purple-5);
    opacity: 0.7;
  }
  .box-loading-inner {
    background-color: var(--colors-purple-5);
  }
}


.icon-list-item-section {
  flex: none !important;
}

.q-item__section.q-item__section--avatar {
  flex: none !important;
  min-width: 0 !important;
}

.q-menu{
  background-color: var(--bg-transparent-5) !important;
}

.page-title {
  color: var(--colors-orange-3);
  font-size: 16px;
  margin: -16px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
  &:not(.no-bg) {
    background-color: var(--bg-transparent-2);
  }

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.page-title {
  color: var(--colors-orange-3);
  font-size: 16px;
  margin: -16px;
  margin-bottom: 0px;
  padding: 10px 20px;
  font-weight: bold;
  &:not(.no-bg) {
    background-color: var(--bg-transparent-2);
  }

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-title {
  color: var(--colors-orange-3);
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
}

.q-dialog__inner--minimized {
  padding: 10px;
}

.q-item.q-item--active[role="option"] {
  background-color: rgba(255, 224, 164, 0.7);
}

.ctn-login-layout,
.ctn-main-layout {
  background-image: url('./imgs/bg.jpg');
}

.my-sticky-last-column-table {
  tr:last-child {
    th:last-child {
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    background-color: var(--bg-transparent-5);
    position: sticky !important;
    right: 0 !important;
    z-index: 1 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    }
  }
  td, tr {
    padding: 5px;
    padding-right: 5px !important;
  }
  .q-fab {
    .q-btn--fab {
      padding: 7px !important;
      min-width: 20px !important;
      min-height: 20px !important;
    }
  }
}
.iconify {
  font-size: 23px;
  min-width: 23px;
  min-height: 23px;
}

.sticky-buttons {
    position: sticky;
    bottom: 0px;
    z-index: 2;
    padding: 5px;
    background-color: #FFF;
}
.jc-data-view {
  .iconify {
    color: var(--colors-gray-3);
  }
}

.q-tab-panels{
  background-color: var(--bg-transparent-3) !important;
  .q-table__container{
    background-color: var(--bg-transparent-2) !important;
  }
}
.q-separator--horizontal {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
}

.only-desktop {
  display: none;
}
@media (min-width: 1024px) {
  .only-desktop {
    display: inline-block;
  }
  .only-mobile {
    display: none;
  }
}
@media (max-width: 1024px) {
  .q-tab {
    padding-left: 5px;
  }
  .q-tab {
    padding-right: 5px;
  }
}
