// app global css in SCSS form
.q-field__bottom {
  text-align: right;
  padding-right: 0px;
  padding-top: 3px;
}

.q-field--error.q-field--dense {
  transition: margin-bottom 0.1s linear;
    margin-bottom: 12px;
}

.box-loading {
//   background-color: var(--colors-black-transparent-3);
  font-weight: bold;
  color: var(--colors-yellow-3) !important;
  .q-loading__backdrop {
    background-color: var(--colors-purple-5);
    opacity: 0.7;
  }
  .box-loading-inner {
    background-color: var(--colors-purple-5);
  }
}


.icon-list-item-section {
  flex: none !important;
}

.q-item__section.q-item__section--avatar {
  flex: none !important;
  min-width: 0 !important;
}

.q-menu{
  background-color: var(--bg-transparent-5) !important;
}

.page-title {
  color: var(--colors-orange-3);
  font-size: 16px;
  margin: -16px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
  &:not(.no-bg) {
    background-color: var(--bg-transparent-2);
  }

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.page-title {
  color: var(--colors-orange-3);
  font-size: 16px;
  margin: -16px;
  margin-bottom: 0px;
  padding: 10px 20px;
  font-weight: bold;
  &:not(.no-bg) {
    background-color: var(--bg-transparent-2);
  }

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-title {
  color: var(--colors-orange-3);
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
}

.q-dialog__inner--minimized {
  padding: 10px;
}

.q-item.q-item--active[role="option"] {
  background-color: rgba(255, 224, 164, 0.7);
}
